.employee-container {
  font-family: Arial, sans-serif;
  padding: 20px;

  table thead tr th:first-child input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }

  table tbody td input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }

  .sidenav.collapsed {
    width: 60px;
    padding: 0;
  }

  .checkbox-container {
    position: relative;
    z-index: 10;
  }
  .select-all-container {
    position: relative;
    z-index: 10;
  }
  h2 {
    margin-bottom: 20px;
    color: #333;
  }

  .filter-and-export {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    gap: 15px;
  }

  .search-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2.5rem; /* Add padding to the left */
  }

  .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
    transition: fill 0.3s ease; /* Add transition for fill */
  }

  .filter-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
  }

  .filter-input:focus {
    outline: none;
  }

  .export-button {
    background-color: #1bd130;
    padding: 14px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #1bd130;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.4s;
    img {
      margin-right: 5px; /* Add spacing between icon and text */
      vertical-align: middle; /* Align the image vertically with the text */
    }

    &:hover {
      border: 2px dashed #1bd130;
      background-color: #fff;
      color: #1bd130;
    }
  }

  .delete-button {
    background-color: #f12c2c;
    padding: 14px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #f12c2c;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.4s;

    img {
      margin-right: 5px; /* Add spacing between icon and text */
      vertical-align: middle; /* Align the image vertically with the text */
    }

    &:hover {
      border: 2px dashed #f12c2c;
      background-color: #fff;
      color: #f12c2c;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      padding: 10px;
      border: 3px solid #333;
    }

    th {
      background-color: #f8f8f8;
      color: #333;
      font-weight: bold;
      border: 4px solid #000;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      position: relative;
      cursor: pointer;

      .sort-icons {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        display: inline-flex;
        gap: 5px;

        .icon {
          font-size: 12px;
          color: #ccc;
          transition: color 0.2s;
        }

        .icon.active {
          color: #000;
          font-weight: bold;
        }
      }

      &:hover .icon {
        color: #007bff;
      }
    }

    tr {
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    td {
      &.yes {
        color: rgb(55, 237, 55);
      }

      &.no {
        color: red;
      }
    }
  }

  .search-container .filter-input:focus ~ .icon {
    fill: #007bff; /* Change fill color on focus */
  }
}