.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;

  .sidenav-container {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }

  .sidenav-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    border-radius: 0.5rem;

    &:hover .sidenav-icon,
    &:checked .sidenav-icon {
      transform: scale(1.25);
      color: #1d4ed8; // blue-400
      fill: #1d4ed8;
    }
  }

  .sidenav-icon {
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
  }
}
