.employee-container {
  font-family: Arial, sans-serif;
  padding: 20px;

  h2 {
    margin-bottom: 20px;
    color: #333;
  }

  .filter-and-export {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    gap: 15px;
  }

  .search-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2.5rem; /* Add padding to the left */
  }

  .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
    transition: fill 0.3s ease; /* Add transition for fill */
  }

  .filter-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
  }

  .filter-input:focus {
    outline: none;
    border-color: #007bff; /* Change border color on focus */
  }

  .export-button {
    background-color: #5ba75d;
    padding: 14px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #5ba75d;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.4s;

    img {
      margin-right: 5px; /* Add spacing between icon and text */
      vertical-align: middle; /* Align the image vertically with the text */
    }

    &:hover {
      border: 2px dashed #5ba75d;
      background-color: #fff;
      color: #5ba75d;
    }
  }

  .delete-button {
    background-color: #cf5a5a;
    padding: 14px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #cf5a5a;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.4s;

    img {
      margin-right: 5px; /* Add spacing between icon and text */
      vertical-align: middle; /* Align the image vertically with the text */
    }

    &:hover {
      border: 2px dashed #cf5a5a;
      background-color: #fff;
      color: #cf5a5a;
    }
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px; /* Add rounded corners to the table */
    overflow: hidden; /* Ensure the corners are rounded */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow to the table */

    thead {
      background-color: #f8f8f8; /* Light background for the header */
    }

    th,
    td {
      text-align: left;
      padding: 10px;
      border: 1px solid #ddd; /* Use a lighter border */
    }

    th {
      background-color: #f0f0f0; /* Slightly darker background for header */
      color: #333;
      font-weight: bold;
    }

    tr {
      transition: background-color 0.3s; /* Smooth transition for hover effect */
    }

    tr:hover {
      background-color: #f9f9f9; /* Light background on row hover */
    }

    td {
      border-bottom: 1px solid #ddd; /* Add a bottom border for separation */
      text-align: center; /* Center the content in the cell */
    }

    td.yes {
      color: rgb(55, 237, 55);
 }

    td.no {
      color: red;
    }

    .checkbox-container,
    .select-all-container {
      position: relative;
      z-index: 10;

      input[type="checkbox"] {
        width: 20px; /* Increase checkbox size */
        height: 20px; /* Increase checkbox size */
        cursor: pointer; /* Change cursor to pointer */
      }
    }
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; /* Ensure modal is on top of other elements */
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px; /* Adjust width as needed */
  max-width: 90%; /* Limit maximum width */
}

.modal-content h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 1.5rem;
}

.modal-content p {
  margin-bottom: 30px;
  color: #555;
  font-size: 1rem;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cancel-button {
  background-color: #cf5a5a;
    padding: 14px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #cf5a5a;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.4s;

    img {
      margin-right: 5px; /* Add spacing between icon and text */
      vertical-align: middle; /* Align the image vertically with the text */
    }

    &:hover {
      border: 2px dashed #cf5a5a;
      background-color: #fff;
      color: #cf5a5a;
    }
  }

.confirm-button {
  background-color: #5ba75d;
    padding: 14px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #5ba75d;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.4s;

    img {
      margin-right: 5px; /* Add spacing between icon and text */
      vertical-align: middle; /* Align the image vertically with the text */
    }

    &:hover {
      border: 2px dashed #5ba75d;
      background-color: #fff;
      color: #5ba75d;
    }
  }
