.employee-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.employee-card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px);
  }

  .profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.9rem;
    color: #555;
  }
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;  /* Increased width */
  max-width: 1000px; /* Increased max-width */
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  padding: 30px; 
  overflow-y: auto;

  .modal-content {
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .modal-body {
      .calendar {
        width: 100%;
        border-collapse: collapse;
        font-size: 16px;

        th, td {
          border: 1px solid #ddd;
          padding: 10px;
          text-align: center;
        }

        th {
          background-color: #f2f2f2;
          font-weight: bold;
        }
      }
    }

    .modal-footer {
      text-align: right;
      margin-top: 20px;
    }
  }
}


.close-btn, .time-btn {
  background-color: #f12c2c;
  color: white;
  border: none;
  padding: 14px 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.close-btn:hover, .time-btn:hover {
  background-color: #fff;
  color: #f12c2c;
  border: 2px dashed #f12c2f;
}

.calendar-day {
  width: 14.28%;
}