<div class="employee-container">
  <div
    *ngFor="let employee of employees"
    class="employee-card"
    (click)="openCalendar(employee)"
  >
    <img [src]="employee.image" alt="Profile Picture" class="profile-pic" />
    <h3>{{ employee.name }}</h3>
  </div>
</div>

<!-- Modal -->
<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h4>Attendance - {{ selectedEmployee?.name }}</h4>
      <button class="close-btn" (click)="closeCalendar()">×</button>
    </div>
    <div class="modal-body">
      <div class="calendar">
        <div class="employee-info">
          <p>Time In: {{ selectedEmployee?.timeIn }}</p>
          <p>Time Out: {{ selectedEmployee?.timeOut }}</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="close-btn" (click)="closeCalendar()">Close
          <img src="../../assets/images/decline.png" alt="Cancel" /> 
      </button>
    </div>
  </div>
</div>