.employee-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.employee-card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px);
  }

  .profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.9rem;
    color: #555;
  }
}

/* Modal Backdrop */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* Increased width */
  max-width: 600px; /* Increased max-width */
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  padding: 2rem;
  overflow-y: auto; /* Allow scrolling if content exceeds height */

  .modal-content {
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;

      .close-btn {
        background: none;
        border: none;
        font-size: 1.8rem;
        cursor: pointer;
        color: #555;

        &:hover {
          color: #000;
        }
      }
    }

    .modal-body {
      .calendar {
        .employee-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1rem; // Add some spacing below employee info
          p {
            font-weight: bold;
            margin-bottom: 0.5rem; // Add spacing between time in and time out
          }
        }
      }
    }

    .modal-footer {
      text-align: right;
      margin-top: 1rem;

      .close-btn {
          background-color: #f12c2c;
          padding: 14px 40px;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 2px;
          cursor: pointer;
          border-radius: 10px;
          border: 2px dashed #f12c2c;
          transition: 0.4s;
          img {
              margin-right: 5px; /* Add spacing between icon and text */
              vertical-align: middle; /* Align the image vertically with the text */
            }
            
        &:hover {
          border: 2px dashed #f12c2c;
                  background-color: #fff;
                  color: #f12c2c;
        }
      }
    }
  }
}