<div class="user-profile-container">
  <div class="breadcrumb">
    <h1>Profile</h1>
  </div>

  <div class="profile-header">
    <div class="profile-picture">
      <img [src]="user.profilePictureUrl" alt="User Picture" />
    </div>
    <div class="profile-info">
      <h1>{{ user.first_name }} {{ user.last_name }}</h1>
      <p>{{ user.account_type }}</p>
      <p><a [href]="'mailto:' + user.email">{{ user.email }}</a></p>
      <div class="tags">
        <span class="tag">Design</span>
        <span class="tag">iOS</span>
        <!-- Add dynamic tags if needed -->
      </div>
    </div>
  </div>

  <div class="profile-details">
    <div class="details-section">
      <h2>Personal Details</h2>
      <ul>
        <li><strong>Gender:</strong> {{ user.sex }}</li>
        <li><strong>Place of Birth:</strong> {{ user.place_of_birth }}</li>
        <li><strong>Address:</strong> {{ user.address }}</li>
        <li><strong>Barangay:</strong> {{ user.barangay }}</li>
        <li><strong>Province:</strong> {{ user.province }}</li>
        <li><strong>Cellphone Number:</strong> {{ user.cellphone_number }}</li>
        <li><strong>Vaccination Status:</strong> {{ user.vaccination_status }}</li>
      </ul>
    </div>
    <div class="details-section">
      <h2>Job Details</h2>
      <ul>
        <li><strong>Company:</strong> {{ user.company }}</li>
        <li><strong>Job Title:</strong> {{ user.account_type }}</li>
        <li><strong>Date Joined:</strong> {{ user.created_at }}</li>
      </ul>
    </div>
  </div>
</div>
