.dtr-summary-container {
  font-family: Arial, sans-serif;
  padding: px;
  max-width: auto;
  margin: 20px;


  .header {
    text-align: left;
    margin-bottom: 30px;

    h1 {
      font-size: 32px;
      color: #333;
    }

    p {
      font-size: 18px;
      color: #666;
    }
  }

  .summary-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      gap: 20px;
    }

    .summary-card {
      flex: 1;
      background-color: #f9f9f9;
      border-radius: 12px;
      padding: 30px;
      text-align: center;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
      min-width: 200px;

      &:hover {
        transform: translateY(-7px);
      }

      h3 {
        font-size: 20px;
        margin-bottom: 15px;
        color: #64b488;
      }

      span {
        font-size: 28px;
        font-weight: bold;
        color: #333;
      }
    }
  }

  .record-section {
    h2 {
      font-size: 26px;
      margin-bottom: 25px;
      border-bottom: 2px solid #64b488;
      padding-bottom: 15px;
      color: #333;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        tr {
          background-color: #64b488;
          color: #fff;

          th {
            padding: 20px;
            text-align: left;
            font-size: 18px;
          }
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: #f9f9f9;
          }

          &:hover {
            background-color: #eef;
          }

          td {
            padding: 20px;
            border-bottom: 1px solid #ddd;
            font-size: 16px;
          }

          .action-btn {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            padding: 10px 15px;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;

            &:hover {
              background-color: #45a049;
            }
          }
        }
      }
    }
  }
}
