<div class="wrapper">
  <div class="container">
    <div class="header">
      <div>
        <h2 class="title-text">HR Attendance Records</h2>
        <img class="hrlogo" src="../../assets/images/HRLogo.png" alt="HR Logo">
        <div class="middle">
          <h3 class="middle-title">Welcome to HR Attendance Records</h3>
          <h4 class="middle-subtitle">Please enter your email and password to access the system.</h4>
        </div>
      </div>
    </div>
    <div class="left-side">
      <div class="icon-container">
        <img src="../../assets/images/GC.jpg" alt="GCION Logo">
        <img src="../../assets/images/ccs.jpg" alt="GCION Image">
        <img src="../../assets/images/HRLogo.png" alt="HR Logo">
      </div>
    </div>
    <div class="right-side">
      <div class="flip-card__inner">
        <div class="flip-card__front card-side">
          <div class="title">Log in</div>
          <form class="flip-card__form" (ngSubmit)="onLogin()">
            <input class="flip-card__input" name="email" [(ngModel)]="email" placeholder="Email" type="email">
            <input class="flip-card__input" name="password" [(ngModel)]="password" placeholder="Password" type="password">
            <button class="flip-card__btn" type="submit">Login!</button>
            <!-- Display error message if login fails -->
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
